    #header-home {
        background: url(/img/orangeabs.jpg) no-repeat center;
        background-size: cover ;
        box-shadow: 0 5px 30px #000;
        height: 100vh;

        #banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
            

            @media (min-width:1024px) {
                height: 80vh;
            }

        //     @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //     margin-top: -18px;
        //     height: 60vh;
        // }
        }

        h1 {
            font-family: $font;
            font-size: 2.5rem;
            color: #ddd;
            text-shadow: 5px 5px 5px #111;
            text-align: center;

            @media (max-width: 426px) {
               font-size: 1.5rem;
            }

            @media (min-width: 769px) {
                font-size: 3.5rem;
            }

            @media (min-width: 1024px) {
                font-size: 4rem;
            }
        }

        span {
            color: #ddd;
            font-family: $font;
            font-size: 1.5rem;
            text-shadow: 2px 2px 5px #111;
            margin-top: 1.5rem;
            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }

        a {
            color: #ddd;
            text-decoration: none;
        }

        #scroll-down {
            display: block;
            margin: 10px 0;
            margin-top: -10px;
            text-align: center;
            font-family: $font;
            font-size: 2rem;

            a {
                font-size: 1.5rem;
                color: $white;
                transition: .5s;
            }

            i {
                color: $white;
                transition: .5s;
            }

            &:hover {

                a {
                    color: $grey;
                    
                }
                
                i {
                    color: $grey;
                    
                }
            }

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin-top: -22px;
            }
        }
    }