// Colours 
$main-colour: white;
$light-main: lighten($main-colour, 10%);
$x-light-main: lighten($main-colour, 20%);
$dark-main: darken($main-colour, 10%);
$font-colour: black;
$input-focus: black;

// Font
$font: 'Poppins',
sans-serif;
$x-light: 200;
$light: 300;
$normal: 400;
$semi-bold: 600;